
input[type=text] {
    width: 25%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #C3C3C3; /*grey*/
}

button {
    background-color: #C3C3C3; /*grey*/
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;
}

 button1 {
    background-color: #C3C3C3; /*grey*/
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;
}

button:hover {
    background-color: #8AC53F; /*green*/
}

button1:hover {
    background-color: #8AC53F; /*green*/
}

body {
    background-color: #F3F3F3;/*light grey*/
}

h1 {
    color: black;
    font-family: arial;
}
p {
    color: black;
    font-family: arial;
}

.chart_css {
	margin: auto;
	max-width: 900px; 
	height: 300px
}

.content {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #8AC53F; /*green*/
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C3C3C3; /*grey*/
}

footer {
    padding: 1em;
    color: white;
    background-color: #C3C3C3; /*grey*/
    clear: left;
    text-align: center;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #8AC53F; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #8AC53F; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }